body
  position relative
.wrap
  background #9e5bc8
  .header
    position relative
    >img
      width 100%
    .host-wrap
      position absolute
      top 15px
      left 15%
      width 70%
      >img
        width 4rem
        height 4rem
        border-radius 50%
      .host-say
        flex-direction column
        -webkit-flex-direction column
        img
          width 100%
          width 200px
          height 33px
        span
          padding-top 0.1rem
          font-size 1.3rem
          margin-bottom 0.5rem
          color #666666
    .flex-container
      display flex
      display -webkit-flex
  .win
    text-align center
    .button-wrap
      text-align center
      .button
        border-radius 5px
        border none
        outline none
        height 3.5rem
        cursor pointer
        br 
          line-height 0
      #get
        background #ffda05
        width 14rem
      #click
        background #ff6f05
    .result-wrap
      text-align center
      .line 
        display inline-block
        width 100%
        height 5px
        background #833bb0
        
  .winner-wrap
    background #b06ed9
    margin 0 10px
    padding 0 2%
    header
      text-align center
      padding .5rem 0
    img
      width 100%
    .winner-avatar-wrap
      width 100%
      margin-top 2rem
      img
        display inline-block
        width 11%
        height 11%
        border-radius 50%
  .reward-wine-wrap
    margin 1.5rem 10px
    img
      width 100%
    .reward-bottom
      .progress-wrap
        myflex()
        justify-content space-between
#mask
  background #000
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  
#test
  position absolute
  top 10rem
  left 5rem
  width 200px
  height 50px
  overflow-y scroll
  background #fff

      
      
      
        
        
        
      
      
    
    
      
    
      
        
        
        
        
