.wrap
  .header
    position relative
    text-align center
    >img
      width 100%
    .host-wrap
      position absolute
      top 20px
      width auto
      background-color red
      img
        width 3rem
        height 3rem
        border-radius 50%
      .host-say
        display inline-block
      
        
        
        
        
