box-sizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  box-sizing arguments
box-shadow()
  -webkit-box-shadow arguments
  box-shadow arguments
border-radius()
  -webkit-border-radius arguments
  border-radius arguments
text-overflow()
  -o-text-overflow arguments
  text-overflow arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
animation()
  -webkit-animation arguments
  -moz-animation arguments
  -ms-animation arguments
  -o-animation arguments
  animation arguments
border-image()
  -webkit-border-image arguments
  -moz-border-image arguments
  -ms-border-image arguments
  -o-border-image arguments
  border-image arguments
hyphens()
  -webkit-hyphens arguments
  -moz-hyphens arguments
  -ms-hyphens arguments
  -o-hyphens arguments
  hyphens arguments 
column-count()
  -webkit-column-count arguments
  -moz-column-count arguments
  -ms-column-count arguments
  -o-column-count arguments
  column-count arguments
  
myflex()
  display -webkit-flex
  display -moz-flex
  display -o-flex
  display -ms-flex
  display flex
  